<!-- https://github.com/tjaartvanderWalt/live-coding-twitter-login-clone -->

<body>
  <div class="main">
    <div class="main-wrapper">
      <div class="left"></div>
      <div class="right">
        <div class="middle">
          <span class="icon icon--bird"></span>
          <h2>Join the community! <br> Register for Twitter today</h2>
          <form (ngSubmit)="register()" #registrationForm="ngForm">
          <div class="input-group">
            <input type="text" id="name" name="name" required [(ngModel)]="user.name" placeholder="Name" />
          </div>
          <br>
          <div class="input-group">
            <input type="email" id="email" name="email" required [(ngModel)]="user.email" placeholder="Email" >
            <div *ngIf="emailError" class="error">Invalid email address.</div>
          </div>
          <br>
          <div class="input-group">
            <input type="password" id="password" name="password" required [(ngModel)]="user.password" placeholder="Password" />
            <div *ngIf="passwordError" class="error">Password must have at least 8 characters.</div>
          </div>
          <br>
          <button class="btn-sign-up" type="submit" [disabled]="registrationForm.invalid">Sign Up</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>